.toolbar {
  background-color: #e21616;
}

#logo {
  width: 7%;
  padding: 5px;
}
#header {
  align-content: center;
}
.example-spacer {
  flex: 1 1 auto;
}

#logout {
  align-content: center;
  margin-top: 0.5%;
}

#logged-user {
  align-content: center;
}

.iconButton:hover {
  cursor: pointer;
}
