<nav>
  <ul>
    <button class="accordion">Facturas</button>
    <div class="panel">
      <li>
        <a class="first-item"
          routerLink="">
          <i class="material-icons">visibility</i>
          <p class="navbar-labels">Consulta Facturas</p>
        </a>
        <hr class="style-one">
      </li>
      <li>
        <a class="first-item"
          routerLink="/insertBill">
          <i class="material-icons">add</i>
          <p class="navbar-labels">Ingresar Factura</p>
        </a>
        <hr class="style-one">
      </li>
      <li>
        <a class="first-item"
          routerLink="/reprocessBillS">
          <i class="material-icons">settings</i>
          <p class="navbar-labels">Reprocesar Facturas</p>
        </a>
        <hr class="style-one">
      </li>
    </div>
  </ul>

  <ul>
    <button class="accordion">Receptores</button>
    <div class="panel">
      <li>
        <a class="first-item"
          routerLink="/receiversList">
          <i class="material-icons">visibility</i>
          <p class="navbar-labels">Consulta Receptores</p>
        </a>
        <hr class="style-one">
      </li>
      <li>
        <a class="first-item"
          routerLink="/receptor-form">
          <i class="material-icons">add</i>
          <p class="navbar-labels">Ingresar Receptor</p>
        </a>
        <hr class="style-one">
      </li>
    </div>
  </ul>

</nav>
