<nav>
  <ul>
    <li>
      <a class="first-item"
        routerLink="">
        <i class="material-icons">file_copy</i>
        <p class="navbar-labels">Consulta Facturas</p>
      </a>
      <hr class="style-one">
    </li>
    <li>
      <a class="first-item"
        routerLink="/insertBill">
        <i class="material-icons">note_add</i>
        <p class="navbar-labels">Ingresar Factura</p>
      </a>
      <hr class="style-one">
    </li>
    <li>
      <a class="first-item"
        routerLink="/reprocessBillS">
        <i class="material-icons">file_copy</i>
        <p class="navbar-labels">Reprocesar Facturas</p>
      </a>
      <hr class="style-one">
    </li>
    <li>
      <a class="first-item"
        routerLink="/recipientsBillS">
        <i class="material-icons">file_copy</i>
        <p class="navbar-labels">Receptores Facturas</p>
      </a>
      <hr class="style-one">
    </li>
  </ul>
</nav>